.carousel-inner {
    height: 300px;
}

.carousel-inner.banner {
    display: flex;
    align-items: center;
}

.carousel-item {
    top: 50%;
    transform: translate(10px, 10px);
}

.page-container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 150px;
}

.navbar-right .navbar-right a {
    color: white;
}
.navbar-nav .nav-link {
    color:blue;
}

.foot p {
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: lightblue;
    padding-top: 25px;
}

.product-item {
    margin-top: 30px;
}

.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.product-item img {
    height: 150px;
    width: 150px;
}

.product-item .product-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

.product-item .product-price {
    font-size: 15px;
    font-weight: bold;
}

.product-container {
    margin-bottom: 150px;
}

.img-panier {
    width: 50px;
    height: 50px;
}

.img-action-panier {
    width: 30px;
    height: 30px;
}

.img-qty-panier {
    width: 15px;
    height: 15px;
}

.badgeNB {
    font-size: xx-small;
}


.h-100 {
    background-color: #16182c;
}

.fs-6 {
    color: white;
}
.fs-6:hover{
    color: blue;
}

