<div id="carouselExampleIndicators" class="carousel slide text-white" data-bs-ride="carousel">

    <div class="carousel-inner banner h-25 ">
        <div class="carousel-item  active">
                        <p>Image-Line</p>
        {# <img src="{{ asset('assets/images/archer1.jpg') }}" class="d-block w-100" alt="..."> #}
        </div>
        <div class="carousel-item">
                        <p>POURQUOI§§§§§§§§§§§§</p>
        {# <img src="{{ asset('assets/images/archer2.jpg') }}" class="d-block w-100" alt="..."> #}
        </div>
        <div class="carousel-item">
                        <p>POURQUOI§§§§§§§§§§§§</p>
        {# <img src="{{ asset('assets/images/archer3.jpg') }}" class="d-block w-100" alt="..."> #}
        </div>
    </div>


</div>